body {
  background-color: #FFFFFF;
  /*background-image: linear-gradient( khaki, lightgoldenrodyellow );*/
}
table, td {
  margin: 0 auto;
  width: 1500px;
  border: 1px solid black;
  text-align: center
}


table{
    margin: 0 auto;
  width: 1500px;
  background-image: linear-gradient( rgba(79,202,255,0), rgba(213,245,255,0.91));
  align: center
}

th {
  background-color: rgba(255,255,255,0);
   border: 1px solid black;
  /*border-top: 2px solid black;*/
  /*border-bottom: 2px solid black*/
}
h4 {
  font-size: 32px;
  text-align: center;
}
#maintitle {
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
  font-weight: bold;
}
a.buttonadd{
display:inline-block;
padding:0.46em 1.6em;
border:0.1em solid #000000;
margin:0 0.2em 0.2em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#000000;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
background-color:#FFFFFF;
text-align:center;
transition: all 0.15s;
}
a.buttonadd:hover{
text-shadow: 0 0 2em rgba(255,255,255,1);
color:#FFFFFF;
border-color:#FFFFFF;
}
@media all and (max-width:30em){
a.buttonadd{
display:block;
margin:0.4em auto;
}
}

a.buttonvote{
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#000000;
background-color:#00FF7F;
text-align:center;
transition: all 0.2s;
}
a.buttonvote:hover{
background-color:#4095c6;
}
@media all and (max-width:30em){
 a.buttonvote{
display:block;
margin:0.2em auto;
}
}

a.buttonanswer{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #000000;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#000000;
text-align:center;
transition: all 0.2s;
}
a.button1:hover{
color:#000000;
background-color:#FFFFFF;
}
@media all and (max-width:30em){
 a.button1{
display:block;
margin:0.4em auto;
}
}

.bouncy{
animation:bouncy 5s infinite linear;
position:relative;
}
@keyframes bouncy {
0%{top:0em}
40%{top:0em}
43%{top:-0.9em}
46%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}



/*.fixed_header tbody{*/
/*  display:block;*/
/*  width: 100%;*/
/*  overflow: auto;*/
/*  height: 700px;*/
/*}*/

/*.fixed_header thead tr {*/
/*   display: block;*/
/*}*/

/*.fixed_header thead {*/
/*  !*background: #8B0000;*!*/
/*  !*color: #FFFFFF;*!*/
/*}*/

/*.fixed_header th, .fixed_header td {*/
/*  padding: 5px;*/
/*  text-align: center;*/
/*  width: 200px;*/
/*}*/