<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div>
    <img src="/static/background-header.jpg" alt="business" id="header"
</div>
<div>
    <img src="/static/library_logo.png" alt="library" id="library"/>
</div>
        {% for item in all_tags %}
    <tr>
        <td><a class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">{{item.name}}</a></td>
        <td><a class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">{{item.appearance}}</a></td>
        {% endfor %}
    </tr>
</body>
</html>