<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Answer</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Are u sure?</h1>
 <form action="/questions/{{ id }}/a" method="post">
    <input type="radio" name="choose" id="option1" value="yes" checked> Yes<br>
    <input type="radio" name="choose" id="option2" value="no"> No<br>
        <button type="submit">Do it</button>
</form>
</body>
</html>