<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<p id="maintitle">Ask Mate</p>
<table>
    <tr>
        <th><a href="/list/ID"> ID </a> </th>
        <th><a href="/list/SubmissionTime" >Submission Time</a> </th>
        <th><a href="/list/ViewNumber" >View number</a> </th>
        <th><a href="/list/VoteNumber" >Vote number</a>  </th>
        <th><a href="/list/Title" > Title </a></th>
        <th><a href="/list/Message" >Message</a> </th>
        <th><a href="/list/Image" >Image</a> </th>
        <th>GoToQuestion</th>
        <th>Vote</th>
    </tr>

    {% for line in question %}
    <tr>
            <td> {{line.id}} </td>
            <td> {{line.submission_time}} </td>
            <td> {{line.view_number}} </td>
            <td> {{line.vote_number}} </td>
            <td> {{line.title}} </td>
            <td> {{line.message}} </td>
            <td> {{line.image}} </td>
        <td><a href='/questions/{{line.id}}'> Answers</a></td>
        <td>
            <a href='/questions/{{line[0]}}/vote_up' class = "buttonvote">upvote <p style="color:#008000"> &#8613;</p></a>
            <a href='/questions/{{line[0]}}/vote_down' class = "buttonvote" >downvote <p style="color:#8B0000"> &#8615;</p></a>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="/add-question" class = "buttonanswer bouncy" >Ask a question</a>
</body>
</html>