<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask-Mate</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!--<p id="maintitle">Ask Mate</p>-->
<div>
    <img src="/static/background-header.jpg" alt="business" id="header"
</div>
<a href="/">
<div>
    <img src="/static/library_logo.png" alt="library" id="library"/>
</div>
<a/>
<div class = sticky>
    <form align = "right" action="/search" method="get">
    <input type="text" name="search" id="author" size = 35 required >
    <input type="submit" value="Search" size = 35>
    </form>
    </div>
<table>
        <thead>
            <tr>
                <th><a href="/list/id">&#8659;</a><a> ID </a><a href="/list/id/desc">&#8657;</a></th>
                <th><a href="/list/submission_time" >&#8659;</a><a>Submission time</a><a href="/list/submission_time/desc">&#8657;</a></th>
                <th><a href="/list/view_number" >&#8659;</a><a>View number</a><a href="/list/view_number/desc">&#8657;</a></th>
                <th><a href="/list/vote_number" >&#8659;</a><a>Vote number</a><a href="/list/vote_number/desc">&#8657;</a></th>
                <th><a href="/list/title" >&#8659;</a><a>Title</a><a href="/list/title/desc">&#8657;</a></th>
                <th><a href="/list/message" >&#8659;</a><a>Messeage</a><a href="/list/message/desc">&#8657;</a></th>
                <th>Image</th>
                <th>GoToQuestion</th>
                <th>Vote</th><form action="/search" method="get">
                </form>
            </tr>
        </thead>

    {% for line in question %}
    <tbody>
    <tr>
            <td> {{line.id}} </td>
            <td> {{line.submission_time}} </td>
            <td> {{line.view_number}} </td>
            <td> {{line.vote_number}} </td>
            <td> {{line.title}} </td>
            <td> {{line.message}} {% for item in tag %}
                {% if line.id == item.question_id %}
                    {% for i in match %}
                        {% if item.tag_id == i.id %}
                                {{i.name}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endfor %}
            </td>
            <td> <img src = {{line.image}} style="width:200px;height:200px;"> </td>
        <td><a href='/questions/{{line.id}}' > Answers</a></td>
        <td>
            <a href='/questions/{{line.id}}/vote_up' class = "buttonvote">upvote <p style="color:#008000"> &#8613;</p></a>
            <a href='/questions/{{line.id}}/vote_down' class = "buttonvote" >downvote <p style="color:#8B0000"> &#8615;</p></a>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>
<br>
<a href="/add-question" class = "buttonanswer bouncy" >Ask a question</a>
<a href="/list" class = "buttonanswer bouncy" >All questions</a>
</body>
</html>