<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Comment to Question</title>
     <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div>
    <img src="/static/background-header.jpg" alt="business" id="header"
</div>
<a href="/">
<div>
    <img src="/static/library_logo.png" alt="library" id="library"/>
</div>
<a/>
<!--<h1>Add your Comment</h1>-->
<!--<form action="/questions/{{ id }}/add-comment-to-Q", method="post">-->
<!--	<p><textarea name="message" id="message" cols=60 rows=5></textarea></p>-->
<!--    <p><input type="submit" value="Add Comment"></p>-->
<!--</form>-->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="form__group">
    <form action="/questions/{{ id }}/add-comment-to-Q", method="post">
  <input type="text" class="form__input" name="message" id="message" placeholder="Add comment " required="" />
  <label for="message" class="form__label">Add comment</label>
</body>
</html>

<!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
<!--<div class="form__group">-->
<!--    <form action="/questions/{{ id }}/add-comment-to-Q", method="post">-->
<!--  <input type="text" class="form__input" name="message" id="message" placeholder="Add comment " required="" />-->
<!--  <label for="message" class="form__label">Answer</label>-->