<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Answer</title>
</head>
<body>
<form action="/questions/{{id}}/answer-question", method="post">
    <label>Message</label><br>
        <p><textarea name="message" id="message" cols=40 rows=3></textarea></p>
    <p><input type="submit" value="Add Answer"></p>
    <p>Image:</p>
    <input type='file' name="image" onchange="readURL(this);" />
    <img id="blah" src="http://placehold.it/180" alt="your image" />
    <p><input type="submit" value="Save"></p>
    <br><br>
</form>
<form>
    <input type="button" onclick="window.location.href = '/questions/{{id}}';" value="Return"/>
</form>
</body>
</html>