<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>
            {{ question }} ------- {{ message }}
        </td>
    </tr>
    {% for i in answer %}
    <tr>
        <td>{{i}}</td>
    </tr>
    {% endfor %}
</table>
<a href="/questions/{{id}}/answer-question"> <button>Answer this question</button></a>
<a href="/questions/{{id}}/edit-question"> <button>Edit this question</button></a>
<a href="/questions/{{id}}/delete-question"><button>Delete This, NOW</button></a>
</body>
</html>