<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div>
    <img src="/static/background-header.jpg" alt="business" id="header"
</div>
<a href="/">
<div>
   <img src="/static/library_logo.png" alt="library" id="library"/>
</div>
<script>console.log("here i come")</script>
    <script>
            let fail = '{{ fail }}';
            if (fail === "failed") {
                alert("You do not have permission to do that!");
            }
</script>
<a/>
<p><a href="/list" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Back to main menu</a>
<table>
<td>
<p id="question">
{% for line in question %}
    <h3>{{ line.title }} <br>
        {{ line.message }}<br> {% for item in tag %}
                {% if line.id == item.question_id %}
                    {% for i in match %}
                        {% if item.tag_id == i.id %}
                                #{{i.name}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endfor %}</h3><div>
<a href="/questions/{{id}}/answer-question" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Answer this Question</a>
<a href="/questions/{{id}}/edit-question" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Edit this Question</a>
<a href="/questions/{{id}}/delete-question" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Delete this Question</a>
    <a href="/question/{{id}}/new-tag" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Add Tag</a>
    <a href="/question/{{id}}/delete-tag" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Delete Tag</a>
<a href="/questions/{{id}}/add-comment-to-Q" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Add Comment To Question</a></p>

</div>
    {{ line.owner if line.owner }}
{% endfor %}
</p>
</td>
</table>
<table id="comment-table">
    {% for item in comment_Q %}
    <tr>
        <td>{{ item.message }}</td>
        <td>{{ item.submission_time }}</td>
        <td><a href="/comment/{{ item.id if item.id }}/delete-comment" class = "buttonvote">Delete comment</a>
        <a href="/comment/{{ item.id }}/edit-comment" class = "buttonvote">Edit comment</a></td>
    </tr>
    {% endfor %}
</table>
{#<p><a href="/questions/{{id}}/add-comment-to-Q" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Add Comment To Question</a></p>#}
{% for line in answer %}
<table id="table">
    <tr>
        <th> ID </th>
        <th> Submission Time </th>
        <th> Vote number </th>
        <th> Question ID </th>
        <th> Message </th>
        <th> Image </th>
        <th>Actions</th>
    <th>Owner</th>
    </tr>
    <tr>
        <td> {{line.id}} </td>
        <td> {{line.submission_time}} </td>
        <td> {{line.vote_number}} </td>
        <td> {{line.question_id}} </td>
        <td> {{line.message}} </td>
        <td><img src ="{{line.image}}"style="width:104px;height:142px;"></td>
        <td>
            <a href='/answers/{{line.id}}/vote_up' class = "buttonvote">upvote <p style="color:	#008000"> &#8613;</p></a>
            <a href='/answers/{{line.id}}/vote_down' class = "buttonvote" >downvote <p style="color:#8B0000"> &#8615;</p></a>
            <a href="/questions/{{line.question_id}}/delete_answer" class = "buttonvote" >Delete answer</a>
            <a href="/answers/{{line.id}}/edit-answer" class = "buttonvote" >Edit answer</a>
        {% for quest in question %}
            {% if quest.id == line.question_id %}
            <a href="/question/{{quest.id}}/answer/{{ line.id }}/comments" class = "buttonvote">Add comment</a>
            {% endif %}
                {% if quest.id == line.question_id %}
            <a href="/question/{{quest.id}}/answer/{{ line.id }}" class = "buttonvote">Show comment</a>
            {% endif %}
                {% endfor %}
        </td>
    <td>{{line.owner if line.owner}}</td>
    </tr>
{% endfor %}
<br>
<div>
<!--<a href="/questions/{{id}}/answer-question" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Answer this Question</a>-->
<!--<a href="/questions/{{id}}/edit-question" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Edit this Question</a>-->
<!--<a href="/questions/{{id}}/delete-question" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Delete this Question</a>-->
<!--    <a href="/question/{{id}}/new-tag" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Add Tag</a>-->
<!--     <a href="/question/{{id}}/delete-tag" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Delete Tag</a>-->
</div>
<!--{#<div>#}-->
<!--{#<a href="/questions/{{id}}/answer-question" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Answer this Question</a>#}-->
<!--{#<a href="/questions/{{id}}/edit-question" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Edit this Question</a>#}-->
<!--{#<a href="/questions/{{id}}/delete-question" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Delete this Question</a>#}-->
<!--{#    <a href="/question/{{id}}/new-tag" class="buttonadd" style="border-color:#000000; background-color:rgba(0,0,0,0); color:#000000">Add Tag</a>#}-->
<!--{#</div>#}-->
</body>
</html>