<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<table>
    <tr>
        <th><a href="/list/ID"> ID </a> </th>
        <th><a href="/list/SubmissionTime" >Submission Time</a> </th>
        <th><a href="/list/ViewNumber" >View number</a> </th>
        <th><a href="/list/VoteNumber" >Vote number</a>  </th>
        <th><a href="/list/Title" > Title </a></th>
        <th><a href="/list/Message" >Message</a> </th>
        <th><a href="/list/Image" >Image</a> </th>
        <th>GoToQuestion</th>
        <th>Vote</th><form action="/search" method="get">
</form>
    </tr>

    {% for line in search %}
    <tr>
            <td> {{line.id}} </td>
            <td> {{line.submission_time}} </td>
            <td> {{line.view_number}} </td>
            <td> {{line.vote_number}} </td>
            <td> {{line.title}} </td>
            <td> {{line.message}} </td>
            <td> {{line.image}} </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>